<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.martinet.emplitude">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <application
        android:name=".Global"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Initialization.Initialisation"
            android:label="@string/nom_appli"
            android:theme="@style/AppTheme.Action">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|screenSize|keyboardHidden|navigation"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.Action" />
        <activity
            android:name=".Loading"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.Action" />
        <activity
            android:name=".Schelude.Display.ActivityLesson"
            android:label="Cours"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Settings.Settings"
            android:label="Paramètres"
            android:theme="@style/AppTheme.Action" />
        <activity
            android:name=".About.About"
            android:label="A Propos"
            android:theme="@style/AppTheme.Action" />
        <activity
            android:name=".Todo.Ajouter"
            android:label="Ajouter une tâche"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Alarm.SonnerieActivity"
            android:label="Activite_Sonnerie"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Schelude.Display.ActivityAddTask"
            android:label=""
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ManageGroup.ManageGroup"
            android:label="Gérer les groupes"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ManageGroup.GroupAdd"
            android:label="Ajouter un groupe"
            android:theme="@style/AppTheme" />

        <receiver android:name=".Alarm.AlarmReceiver" />
        <receiver
            android:name=".Widget.Widget"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget" />
        </receiver>
        <receiver
            android:name=".Schelude.SchelureSelf"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".Tool.EvenementInternet"
            android:enabled="false">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".Sound.OnLessonBegin"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".Sound.OnLessonEnding"
            android:enabled="true" />

    </application>

</manifest>